<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head></h:head>
<h:body>

   <h1></h1>
  
   <h:form> 
         
   </h:form><br/>
   
         
    <p:growl id="growl" life="2000" />
    <p:commandButton value="Cerrar Sesion" id="CerrarSesion" update="growl" action="#{buttonView.buttonAction}" 
    style="margin-right:20px;" styleClass="ui-priority-primary" />
      
  
      
</h:body>
</html>