<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head></h:head>
<h:body>


	<p:panel header="Iniciar Sesion "
		style="margin-bottom:20px; margin-top: 60px; width: 390px; margin-left: 470px ">
		<h:panelGrid columns="1" cellpadding="5">

			<h1>
				<CENTER style="margin-left: 35px">FastShippingCar</CENTER>
			</h1>

			<h:form id="form" style=" margin-top:-30px; margin-left: 40px ">

				<h3>Ingrese Correo</h3>
				<p:inputText style=" width: 260px " value="#{loginBean.email}" />
				<h3>Ingrese Correo</h3>
				<span class="ui-float-label"> <p:inputText
						style=" width: 260px " id="float-input"
						value="#{loginBean.contrasena}" /> <p:outputLabel for="@previous"
						value="#{loginBean.validacion}" />
				</span>

				<p:commandButton value="Crear Cuenta " id="crearCuenta"
					update="growl" action="   " style="margin-top:40px; width: 130px"
					styleClass="ui-priority-primary" />

				<p:growl id="growl" life="2000" />
				<p:commandButton value="Iniciar Sesion " id="inicioSesion"
					update="growl" action="#{loginBean.autenticarUsuario}"
					style="width: 130px; margin-top:-125px; "
					styleClass="ui-priority-primary" process="@form" update="form">
				</p:commandButton>


			</h:form>


		</h:panelGrid>

	</p:panel>

</h:body>
</html>