<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<h:head></h:head>
<h:body>

   <h1> FastShippingCar</h1>
   
   
  
  <h:form id="form">
    <h:panelGrid columns="2" cellpadding="5">
        <p:outputLabel for="orientation" value="" />
        <p:selectOneButton id="orientation" value="#{megaMenuView.orientation}" onchange="$('#form').submit()">
            
        </p:selectOneButton>
    </h:panelGrid>
</h:form>
 
<p:megaMenu orientation="#{megaMenuView.orientation}" style="margin-top:20px">
    <p:submenu label="¿Deseas Registrarte?" icon="pi pi-check">
        <p:column>
            <p:submenu label="Registrar Usuario">
           
            </p:submenu>
            
        </p:column>
        <p:column>
            <strong></strong>
            <p:graphicImage name="/demo/images/nature/nature1.jpg" width="200"/>
        </p:column>
    </p:submenu>
 
    <p:submenu label="Lista de Productos" icon="pi pi-file">
 
        <p:column>
            <p:submenu label="Producto1">
                <p:menuitem value="Producto1.1" url="#" />
                <p:menuitem value="Producto1.2" url="#" />
            </p:submenu>
            <p:submenu label="Producto2">
                <p:menuitem value="Producto2.1" url="#" />
                <p:menuitem value="Producto2.2" url="#" />
                <p:menuitem value="Producto2.3" url="#" />
            </p:submenu>
        </p:column>
 
        <p:column>
            <p:submenu label="Producto3">
                <p:menuitem value="Producto3.1" url="#" />
                <p:menuitem value="Producto3.2" url="#" />
            </p:submenu>
            <p:submenu label="Producto4">
                <p:menuitem value="Producto4.1" url="#" />
                <p:menuitem value="Producto4.2" url="#" />
                <p:menuitem value="Producto4.3" url="#" />
            </p:submenu>
        </p:column>
        
    </p:submenu>
 
    <p:submenu label="Metodo de Pagos" icon="pi pi-pencil">
        <p:column>
            <p:submenu label="Tarjeta Credito">
                <p:menuitem value="Visa" url="#" />
                <p:menuitem value="Dinners" url="#" />
                <p:menuitem value="MasterCard" url="#" />
            </p:submenu>
            <p:submenu label="Tarjeta Debito">
                <p:menuitem value="Personal" url="#" />
                <p:menuitem value="Juridico" url="#" />
            </p:submenu>
        </p:column>
 
        
    </p:submenu>
 
    <p:submenu label="Ingresar como Usuario" icon="pi pi-briefcase">
        <p:column>
            <p:submenu label="Tech.1">
                <p:menuitem value="Tech.1.1" url="#" />
                <p:menuitem value="Tech.1.2" url="#" />
            </p:submenu>
            <p:submenu label="Tech.2">
                <p:menuitem value="Tech.2.1" url="#" />
                <p:menuitem value="Tech.2.2" url="#" />
                <p:menuitem value="Tech.2.3" url="#" />
            </p:submenu>
        </p:column>
 
        <p:column>
            <p:submenu label="Tech.4">
                <p:menuitem value="Tech.4.1" url="#" />
                <p:menuitem value="Tech.4.2" url="#" />
            </p:submenu>
        </p:column>
    </p:submenu>
 
    <p:menuitem value="Cerrar Sesion" url="http://localhost:8084/pages/Login.xhtml" icon="pi pi-times" />
</p:megaMenu>      
  
      
</h:body>
</html>